.loader {
    width: 10px;
    height: 48px;
   margin: 10px;
    display: inline-block;
    position: relative;
    border-radius: 0px;
    color: rgb(21, 149, 247);
    box-sizing: border-box;
    animation: animloader 0.5s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 20px -10px, 40px 10px, 60px 0px;
    }
    25% {
      box-shadow: 20px 0px, 40px  0px, 60px 10px;
    }
    50% {
      box-shadow: 20px 10px, 40px -10px, 60px 0px;
    }
    75% {
      box-shadow: 20px 0px, 40px 0px, 60px -10px;
    }
    100% {
      box-shadow: 20px -10px, 40px 10px, 60px 0px;
    }
  }
      
  .loaderBox {

        margin-top: 25%;
        margin-left: 50%;
    }
  